.edit-body { width: 100%; height: 100%; padding-top: 90px; overflow: hidden; box-sizing: border-box; }
html { width: 100%; height: 100%; overflow: hidden; box-sizing: border-box; }
header { position: fixed; top: 0; left: 0; padding: 0 0 0 2%; width: 98%; min-width: 1280px; height: 90px; line-height: 90px; background: url(../images/bg_top.jpg) repeat-x; }
.hd-box { display: none; font-size: 0; height: 28px; line-height: 28px; border-radius: 15px; padding: 0 10px; }
.dis-inline { display: inline-block; *display: inline; *zoom: 1; *float: left; vertical-align: middle; }
.hd-box .icon { margin-right: 10px; }
.hd-box span { font-size: 14px; }
.hd-le { width: 30%; }
.hd-ri { width: 70%; text-align: right; }
.hd-ri .hd-box.on { background: #f00; }
.hd-ri .hd-box.on .icon-fullscreen:before { content: "\e6c5"; }
.hd-ri .hd-box { margin: 0 2%; }
.container { height: 800px; overflow: hidden; }
.leftbar { position:relative; float:left; width:12%; height:100%; background: #f2f2f2; }
.rightbar { position:relative; float:left; width: 88%; height: 100%; overflow: hidden; }
.leftline { position: absolute; right: 0; top: 0; width: 2px; height: 100%; background: #3b91bb; }
.right-wrap { position:relative; float:left;width: 100%; height: 100%; overflow: hidden; }
.content-bd { height: 3000px; }
.rightbar .ef-ruler { overflow: hidden; overflow-y: scroll; }